body {
    margin: 0;
    background-color: indianred;
}

main {
    background-image: url("img/bakgrunn.png");
    background-repeat: repeat-x;
    background-size: 123%;
    position: relative;
    background-color: lightblue;
    height: 800px;
    width: 488px;
    margin: 100px auto;
    overflow: hidden;
}

#theBird {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 40px;
    user-select: none;
}